/*   This is the general section   */
html {
    width: 100vw;
}

body {
    margin: 0;
    background-color: palegoldenrod;
}



/*   This is the hero section   */
.hero { /*div*/
    width: 100vw;
    height: 50vh;
    margin: 0px;
    border-radius: 0px 0px 50px 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("./assets/AxelrodHEROPic2.jpeg")
}

.Hero-header { /*h1*/
    -webkit-text-fill-color: palegoldenrod;
    -webkit-text-stroke: .7px;
    text-align: center;
    color: mediumpurple;
    width: 100vw;
    margin-top: 0vh;
    padding-top: 1vh;
    top: 0;
    position: sticky;
}

.snlogo {
    display: flex;
    justify-content: center;
    width: 10vw;
    height: auto;
}

.subheader-container {
    display: flex;
    justify-content: right;
}



/*   This is the explanation section   */
.explained {
    display: flex;
    padding-left: 15vw;
    background-color: palegoldenrod;
    width: auto;
    height: 25vh;
}

#xppic {
    padding-top: 1%;
    height: 22.5vh;
}

.xptext {
    padding-right: 25vw;
    padding-left: 10vw;
    font-size: 1.5vw;
    justify-content: center;
    align-self: center;
}



/*   This is the table section   */
.tablediv {
    display: flex;
    justify-content: center;
    width: 100%;
}

.tablepic {
    width: 25vw;
}

table {
    background-color: palegoldenrod;
    display: flex;
    justify-content: space-evenly;
    table-layout: fixed;
    width: 100%;
    border-color: black;
    border: 3px;
}



/*   This is the footer section   */
footer {
    margin: 0;
    background-color: palegoldenrod;
}

.pagelinks {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.socialmedia {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.socialtext {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -30px;
    margin-bottom: -15px;
}

.socialpics {
    display: flex;
    align-items: center;
    justify-content: center;
}

.socialpadding {
    padding: 5px;
}

.seattlepic {
}

hr {
    background-color: black;
    height: 1px;
    width: 65vw;
    opacity: 25%;
}



/*   This is the media-query section   */
@media screen and (max-width: 768px) {
    .explained {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 0px;
    }

    /* #xppic {
        width: 50vw;
        height: auto;
    } */

    .xptext {
        text-align: justify;
    }
}